<div>
	<div ng-click="toggleSection()" ng-show="isVisible" style="cursor: pointer;">
		<img class="pull-left" ng-src="{{imgsrc}}" style="width:128px;" />
		<div class="pull-left" style="padding-left:10px; width: calc(100% - 128px)">
			<h4 class="well-title" ng-bind="::title"></h4>
			<strong>Publisher: </strong><span ng-bind="::publisher"></span><br/>
			<span>
				<strong>Price: </strong>
				<span ng-show="{{saleability === 'FOR_SALE'}}" ng-bind="::amount | currency:'Rs. '">
				</span>
				<span ng-show="{{saleability === 'NOT_FOR_SALE'}}">
					Not available
				</span>
			</span><br/>
			<a href="#" ng-click="showbook($event)">Read more...</a>
		</div>
	</div>
	<div ng-click="toggleSection()" ng-hide="isVisible" style="cursor: pointer;">
		<h4 class="well-title" ng-bind="::title"></h4>
	</div>
</div>
