<div>
	<div class="toggle-section" ng-click="toggleSection()" ng-show="isVisible">
		<img class="pull-left img-size" ng-src="{{imgsrc}}" />
		<div class="pull-left book-info">
			<h4 class="well-title" ng-bind="::title"></h4>
			<strong>Publisher: </strong><span ng-bind="::publisher"></span><br/>
			<span>
				<strong>Price: </strong>
				<span ng-show="{{saleability === 'FOR_SALE'}}" ng-bind="::amount | currency:'Rs. '">
				</span>
				<span ng-show="{{saleability === 'NOT_FOR_SALE'}}">
					Not available
				</span>
			</span><br/>
			<a href="#" ng-click="showbook($event)">Read more...</a>
		</div>
	</div>
	<div class="toggle-section" ng-click="toggleSection()" ng-hide="isVisible">
		<h4 class="well-title" ng-bind="::title"></h4>
	</div>
</div>
