typescript1/node_modules/
typescript2/node_modules/
typescript-books/node_modules/

typescript1/web/
typescript2/build/
typescript-books/build/
typescript-books/dist/
typescript-tic-tac-toe/node_modules/
