body {
	/*background-color: #52575c !important;*/
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

input.ng-invalid.ng-dirty {
	outline: 0;
	border-color: rgb(191, 22, 92);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgb(191, 22, 92);
}

.custom-container {
	margin-bottom: 20px;
	width: 100%;
	float: left;
}

.slideover {
	position: absolute;
	z-index: 20;
	background-color: #9E0F0F;
	color: #fff;
	margin-top: 10px;
	padding: 5px 20px;
	border-radius: 5px;
	border: 1px solid #F70707;
}

.slideover.ng-enter {
	-webkit-transition: 1.5s linear all;
	transition: 1.5s linear all;
}

.slideover.ng-leave {
	display: none;
}

.page-header ul li,
.toggle-section {
	cursor: pointer;
}

.img-size {
	width: 128px;
}

.book-info {
	padding-left: 10px;
	width: calc(100% - 128px);
}

.nav-tabs.nav-justified>li {
	white-space: nowrap;
	text-overflow: ellipsis;
}


.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 0;
    border-bottom: none;
    margin: 0;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.books-listing:first-child .bs-callout {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.books-listing:last-child .bs-callout {
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
