<div id="myModal" class="modal modal-dialog-custom" [style.display]="isVisible  ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="hideModal($event)">&times;</button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
                <div>{{body}}</div>
                <div class="row stats-container">
                    <div class="group-title">Total: {{genericConfig.gameScore.totalGames}}</div>
                    <div class="group-title">Draws: {{genericConfig.gameScore.draws}}</div>
                    <div class="group-title">Player won: {{genericConfig.gameScore.playerWins}}</div>
                    <div class="group-title">Computer won: {{genericConfig.gameScore.computerWins}}</div>
                </div>
                <p class="text-warning"><small>Going to main menu will reset the game.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="mainMenu($event)">Main menu</button>
                <button *ngIf="showBtn2" type="button" class="btn btn-primary" (click)="playAgain($event)">Play again</button>
            </div>
        </div>
    </div>
</div>
