<html>

  <head>
    <title>Angular 2 QuickStart</title>

    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="lib/es6-shim.min.js"></script>
    <script src="lib/system-polyfills.js"></script>
    <script src="lib/angular2-polyfills.js"></script>
    <script src="lib/system.src.js"></script>
    <script src="lib/Rx.js"></script>
    <script src="lib/angular2.dev.js"></script>
    <script src="lib/http.dev.js"></script>
    <script src="lib/ng2-bootstrap.min.js"></script>
    <link href="app/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/css/app.css" rel="stylesheet">

    <!-- 2. Configure SystemJS -->
    <script>
      System.config({
        packages: {        
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('app/boot').then(null, console.error.bind(console));
    </script>

  </head>

  <!-- 3. Display the application -->

  <body>
    <div class="container">
      <div id="header" class="page-header" ng-controller="headerController">
        <nav class="navbar navbar-default" role="navigation">
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
              <li ng-repeat="item in headerItems">
                <!-- <a herf="#" ng-show="showButton(item.showBtn)" ng-click="callFunction($event, item.click)" ng-disabled="isDisabled" ng-bind="::item.text"></a> -->
              </li>
            </ul>
          </div>
        </nav>
        <!-- <img ng-src="{{data.imageUrl}}" alt="" /> -->
        <div class="row">
          <div class="col-md-12">
            <h2>Books demo app</h2>
          </div>
        </div>
      </div>
      <div id="content">
        <books-app>Loading...</books-app>
      </div>
    </div>
  </body>
  <body>

</html>
