<div>
	<div class="row stats-container" *ngIf="playersList && playersList.length > 0">
		<div *ngFor="#key of playersList" class="group-title" (click)="onRecipientSelected($event, key.emailId)">
			<span class="tickmark">&#10004;</span>
			{{key.username}} - {{key.emailId}}
		</div>
	</div>
	<div *ngIf="!playersList || playersList.length === 0">
		<span>Currently no players available</span>
	</div>
</div>
<modal-dialogue [isVisible]="modalDialogue.isVisible" [title]="modalDialogue.title" [body]="modalDialogue.body" [showBtn2]="modalDialogue.showBtn2" [btn1Txt]="modalDialogue.btn1Txt" [btn2Txt]="modalDialogue.btn2Txt" (btn1Callback)="requestRejected()" (btn2Callback)="requestAccepted()" (closeBtnCallback)="requestRejected()"></modal-dialogue>
