<div class="container">
	<div class="row stats-container" ng-if="customController.dataAvailable()">
		<div class="row group-content" ng-repeat="user in customController.usersList">
			<div class="col-xs-1">{{user.location}}</div>
			<div class="col-xs-3">{{user.firstname}} {{user.lastname}}</div>
			<div class="col-xs-3">{{user.email}}</div>
			<div class="col-xs-3">{{user.phonenumber}}</div>
			<div class="col-xs-2">
				<span class="editBtn" ng-click="customController.editUserClick(event, user.id_member)">Edit</span>
				<span class="deleteBtn" ng-click="customController.deleteUserClick(event, user.id_member)">Delete</span>
			</div>
		</div>
	</div>
	<div class="row stats-container" ng-if="!customController.dataAvailable()">
		<div class="row group-content">
			<div class="col-xs-12">No user found</div>
		</div>
	</div>
</div>
<edit-user user-id="customController.editUser.userId" is-visible="customController.editUser.isVisible" title="customController.editUser.title" user="customController.editUser.user" hide-popup="customController.hideEditPopup(event)" update-data="customController.updateUserData(data, userId)"></edit-user>

<modal-dialogue is-visible="customController.modalDialogue.isVisible" title="customController.modalDialogue.title" body="customController.modalDialogue.body" btn1-txt="customController.modalDialogue.btn1Txt" btn2-txt="customController.modalDialogue.btn2Txt" show-btn2="customController.modalDialogue.showBtn2" btn1-callback="customController.modalDialogue.btn1Callback()" btn2-callback="customController.modalDialogue.btn2Callback()" close-btn-callback="customController.modalDialogue.closeBtnCallback()"
></modal-dialogue>
