<div class="container">
	<div class="well col-xs-9" ng-cloak>
		<img class="pull-left" ng-src="{{booksDetails.volumeInfo.imageLinks.smallThumbnail}}" style="width:128px;" />
		<div class="pull-left" style="padding-left:10px; width: calc(100% - 128px)">
			<h4 class="well-title">{{booksDetails.volumeInfo.title}}</h4>
			<h5>{{booksDetails.volumeInfo.subtitle}}</h5>

			<a href="{{booksDetails.saleInfo.buyLink}}" target="_blank" ng-if="booksDetails.saleInfo.buyLink">Buy Link</a><br/>
			<a href="{{booksDetails.volumeInfo.previewLink}}" target="_blank">About</a><br/>
			<a href="{{booksDetails.accessInfo.webReaderLink}}" target="_blank">Web reader link</a><br/>
			<span ng-show="{{booksDetails.accessInfo.pdf.isAvailable}}">
				<a href="{{booksDetails.accessInfo.pdf.acsTokenLink}}" target="_blank">PDF link</a><br/>
			</span>

			<span>
				<strong>Average Rating: </strong>{{booksDetails.volumeInfo.averageRating}}
			</span><br />
			<span>
				<strong>Ratings Count: </strong>{{booksDetails.volumeInfo.ratingsCount}}
			</span><br />
			<span>
				<strong>Page Count: </strong>{{booksDetails.volumeInfo.pageCount}}
			</span><br />
			<span>
				<strong>Published Date: </strong>{{booksDetails.volumeInfo.publishedDate}}
			</span><br />
			<span>
				<strong>Publisher: </strong>{{booksDetails.volumeInfo.publisher}}
			</span><br />
			<span ng-if="booksDetails.volumeInfo.categories.length > 0">
				<strong>Categories: </strong>
				<span ng-repeat="category in booksDetails.volumeInfo.categories  track by $index">
					{{category}}{{$last ? '' : ', '}}
				</span><br />
			</span>
			<span>
				<strong>Price: </strong>
				<span ng-show="{{booksDetails.saleInfo.saleability === 'FOR_SALE'}}">
					{{booksDetails.saleInfo.listPrice.amount | currency:"Rs. "}}
				</span>
				<span ng-show="{{booksDetails.saleInfo.saleability === 'NOT_FOR_SALE'}}">
					Not available
				</span>
			</span><br /><br />

			<p><strong>Description: </strong>{{booksDetails.volumeInfo.description || "Not available"}}</p>
		</div>
	</div>
</div>
