<div style="margin-bottom: 20px; width: 100%; float: left;">
	<div class="col-xs-7">
		<input class="form-control" type="text" ng-model="books.searchQuery" placeholder="Book or book type you would like to search..." ng-change="getBooks()" />
	</div>
	<div class="col-xs-2">
		<select ng-model="books.sortOrder" class="form-control input-small" ng-change="getBooks()">
			<option selected value="relevance">By relevance</option>
			<option value="newest">Newest</option>
		</select>
	</div>
	<div class="col-xs-2">
		<select ng-model="books.maxLimit" class="form-control input-small" ng-change="getBooks()">
			<option selected value="10">Limit: 10</option>
			<option value="20">Limit: 20</option>
			<option value="30">Limit: 30</option>
			<option value="40">Limit: 40</option>
		</select>
	</div>
</div>

<div style="margin-bottom: 20px; width: 100%; float: left;">
	<div class="col-xs-2">
		<select ng-model="books.localSortOrder" class="form-control input-small" ng-change="updateSessionStorage(['localSortOrder'])">
			<option selected value="volumeInfo.title">By: Name</option>
			<option value="-saleInfo.listPrice.amount">By: Price Descending</option>
			<option value="+saleInfo.listPrice.amount">By: Price Ascending</option>
		</select>
	</div>
</div>

<div class="container">
	<ul class="thumbnails list-unstyled" ng-cloak>
		<li ng-repeat="book in booksList | orderBy:books.localSortOrder">
			<div class="row session">
				<div class="well col-xs-11">
					<img class="pull-left" ng-src="{{book.volumeInfo.imageLinks.smallThumbnail}}" style="width:128px;" />
					<div class="pull-left" style="padding-left:10px; width: calc(100% - 128px)">
						<h4 class="well-title">{{book.volumeInfo.title}}</h4>
						<strong>Publisher: </strong><span>{{book.volumeInfo.publisher}}</span><br/>
						<span>
							<strong>Price: </strong>
							<span ng-show="{{book.saleInfo.saleability === 'FOR_SALE'}}">
								{{book.saleInfo.listPrice.amount | currency:"Rs. "}}
							</span>
							<span ng-show="{{book.saleInfo.saleability === 'NOT_FOR_SALE'}}">
								Not available
							</span>
						</span><br/>
						<a href="#/book/{{book.id}}">Read more...</a>
					</div>
				</div>
			</div>
			
		</li>
	</ul>
</div>
