<div class="container" *ngIf="bookData && bookData.volumeInfo">
	<div class="well col-xs-9">
		<img class="pull-left img-size" src="{{bookData.volumeInfo.imageLinks.smallThumbnail}}" />
		<div class="pull-left book-info">
			<h4 class="well-title">{{bookData.volumeInfo.title}}</h4>
			<h5>{{bookData.volumeInfo.subtitle}}</h5>

			<div *ngIf="bookData.saleInfo.buyLink">
				<a href="{{bookData.saleInfo.buyLink}}" target="_blank">Buy link</a><br/>
			</div>
			<div *ngIf="bookData.volumeInfo.previewLink">
				<a href="{{bookData.volumeInfo.previewLink}}" target="_blank">About</a><br/>
			</div>
			<div *ngIf="bookData.accessInfo.webReaderLink">
				<a href="{{bookData.accessInfo.webReaderLink}}" target="_blank">Web reader link</a><br/>
			</div>
			<div *ngIf="bookData.accessInfo.acsTokenLink">
				<a href="{{bookData.accessInfo.acsTokenLink}}" target="_blank">PDF link</a><br/>
			</div>
			<div *ngIf="bookData.accessInfo.downloadLink">
				<a href="{{bookData.accessInfo.downloadLink}}" target="_blank">Download link</a><br/>
			</div>

			<span>
				<strong>Average Rating: </strong><span>{{bookData.volumeInfo.averageRating}}</span>
			</span><br />
			<span>
				<strong>Ratings Count: </strong><span>{{bookData.volumeInfo.ratingsCount}}</span>
			</span><br />
			<span>
				<strong>Page Count: </strong><span>{{bookData.pageCount}}</span>
			</span><br />
			<span>
				<strong>Published Date: </strong><span>{{bookData.volumeInfo.publishedDate}}</span>
			</span><br />
			<span>
				<strong>Publisher: </strong><span>{{bookData.volumeInfo.publisher}}</span>
			</span><br />
			<!-- <span ng-if="bookData.volumeInfo.categories.length > 0">
				<strong>Categories: </strong>
				<span ng-repeat="category in bookData.volumeInfo.categories  track by $index">
					{{category}}{{$last ? '' : ', '}}
				</span><br />
			</span> -->
			<span>
				<strong>Price: </strong>
				<!-- <span ng-show="{{bookData.saleInfo.saleability === 'FOR_SALE'}}" ng-bind="::bookData.saleInfo.listPrice.amount | currency:'Rs. '"></span> -->
				<!-- <span ng-show="{{bookData.saleInfo.saleability === 'NOT_FOR_SALE'}}">Not available</span> -->
			</span><br /><br />
			<!-- <p>
				<strong>Description: </strong>
				<span ng-bind-html="bookData.volumeInfo.description | renderHTML:'Not available'"></span>
			</p> -->
		</div>
	</div>
</div>
