<ul class="books-listing">
	<li *ngFor="#bookData of booksData" class="well col-xs-11">
		<img class="pull-left img-size" src="{{bookData.volumeInfo.imageLinks.smallThumbnail}}" />
		<div class="pull-left book-info">
			<h4 class="well-title">{{bookData.volumeInfo.title}}</h4>
			<strong>Publisher: </strong><span>{{bookData.volumeInfo.publisher}}</span><br/>
			<strong>Price: </strong>				
			<span *ngIf="bookData.saleInfo.saleability === 'FOR_SALE'">
				Rs. {{bookData.saleInfo.listPrice.amount}}
			</span>
			<span *ngIf="bookData.saleInfo.saleability === 'NOT_FOR_SALE'">
				Not available
			</span>
			<br/>
			<a [routerLink]="['/Test']">link to user component</a>
		</div>
    </li>
</ul>
