<!-- user info -->
<form ng-submit="customController.actionCallback(event, 'save',customController.userData.id_member)">
	<!-- user id -->
	<div class="col-xs-1">{{customController.userData.id_member}}</div>

	<!-- user first and last name -->
	<input id="firstname" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required class="col-xs-2" ng-readonly="customController.readOnlyMode" type="text" placeholder="First name" value="{{customController.userData.firstname}}" maxlength="64" ng-dblclick="customController.startEditMode($event)" />
	<input id="lastname" required class="col-xs-2" ng-readonly="customController.readOnlyMode" type="text" placeholder="Last name" value="{{customController.userData.lastname}}" maxlength="64" ng-dblclick="customController.startEditMode($event)" />

	<!-- user email and phone number -->
	<div class="col-xs-3">{{customController.userData.email}}</div>
	<div class="col-xs-2">{{customController.userData.phonenumber}}</div>

	<!-- user location -->
	<input class="col-xs-1" ng-readonly="true" type="text" value="{{customController.userData.location}}" ng-show="customController.readOnlyMode" ng-dblclick="customController.startEditMode($event)" />
	<select id="location" ng-model="customController.customController.userData.location" class="col-xs-1" ng-show="!customController.readOnlyMode">
	    <option value="IN" ng-selected="'IN' === customController.userData.location">India</option>
	    <option value="US" ng-selected="'US' === customController.userData.location">US</option>
	    <option value="UK" ng-selected="'UK' === customController.userData.location">UK</option>
	</select>
	<input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;" tabindex="-1" />
</form>
<!-- action buttons -->
<div class="col-xs-1 actionBtns">
    <!-- buttons for non-edit mode -->
    t-{{customController.readOnlyMode}}
    <span ng-show="customController.readOnlyMode" class="actionBtn editBtn" title="Edit info" ng-click="customController.actionCallback(event, 'edit', customController.userData.id_member)"></span>
    <span ng-show="customController.readOnlyMode" class="actionBtn deleteBtn" title="Delete user" ng-click="customController.actionCallback(event, 'delete', customController.userData.id_member)"></span>

    <!-- buttons for edit mode -->
    <span ng-show="!customController.readOnlyMode" class="actionBtn saveBtn" title="Save info" ng-click="customController.actionCallback(event, 'save',customController.userData.id_member)"></span>
    <span ng-show="!customController.readOnlyMode" class="actionBtn cancelBtn" title="Cancel" ng-click="customController.cancelEditMode(event)"></span>
</div>
