body {
	font-family: Georgia, Times, serif;
}

#container {
	width: 450px;
	margin: 0 auto;
	padding: 0 10px;
	overflow: hidden;
}

#container h1 {
	text-align: center;
	font-size: 28px;
	margin: 15px 0;
}

#container .gamestats {
	margin: 0 0 20px;
	text-align: center;
}

#container #game-grid {
	float: left;
	padding: 0 49px;
	clear: both;
	margin: 0;
	text-align: center;
}

#game-grid li {
	background: #fff;
	border: 1px solid #78bec5;
	border-radius: 14px;
	float: left;
	padding: 0;
	list-style: none;
	text-align: center;
	margin: 5px;
	height: 100px;
	width: 100px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
	transition: background-color 0.3s;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 70px;
	line-height: 90px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#game-grid li:not(.x-text):not(.o-text):hover {
	background: #3d4250;
	border: 1px solid #3d4250;
}

#game-grid li:not(.x-text):not(.o-text):hover:after {
	content: '\0078';
}

#game-grid .o-text {
	background: #ecaf4f;
	border: 1px solid #ecaf4f;
}

#game-grid .o-text:after {
	content: '\006F';
}

#game-grid .x-text {
	background: #dc685a;
	border: 1px solid #dc685a;
}

#game-grid .x-text:after {
	content: '\0078';
}

.stats-container {
	/*display: table-row;*/
	width: calc(100% - 12px);
	margin: 10px auto 15px;
	float: left;
	/*border: 1px solid #ddd;*/
	/*border-right: none;*/
	padding: 10px;
	position: relative;
}

#winner_announcement {
	position: absolute;
	left: -100%;
	top: 0;
	z-index: 1;
	background: #F3F3F3;
	width: 100%;
	height: 80px;
	display: none; 
	text-align: center;
	line-height: 80px;
	font-size: 18px;
}

.group {
	width: 400px;
	color: #000000;
	display: table-cell;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	/*border-right: 1px solid #ddd;*/
}

.group-title {
	/*border-bottom: 1px solid #ddd;*/
	/*background: #F3F3F3;*/
	padding: 5px 0;
}

.stats-text {
	padding: 5px 0;
	display: block;
	font-size: 16px;
}

#container .reset-container {
	float: left;
	margin: 0 auto;
	width: 100%;
}

.reset-container #reset {
	padding: 5px 10px;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	text-transform: uppercase;
	outline: none;
	width: 204px
}

.winner-text {
	text-align: center;
	width: 100%;
	display: block;
	float: left;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin: 0 0 20px;
}

.game-level {
	margin: 10px 0;
	position: relative;
	text-align: center;
}

.game-level form {
	margin: 0;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.level-group {
	overflow: hidden;
	position: relative;
    display: inline-block;
    vertical-align:middle;
    margin: 0 0 35px;
}

.level-radio {
	margin: 0;
	display: inline-block;
	float: left;
	position: relative;
}

.level-radio input[type="radio"] {
	opacity: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.level-radio input[type="radio"] + label {
	width: 35%;
	margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    /*border-color: #fff;*/
    background: #fff;
}

.level-radio input[type="radio"] + label.btn-primary {
  color: #337ab7;
}

.level-radio input[type="radio"] + label.btn-success {
	color: #5cb85c;
}

.level-radio input[type="radio"] + label.btn-warning {
  color: #f0ad4e;
}

.level-radio input[type="radio"] + label.btn-danger {
  color: #d9534f;
}

.level-radio input[type="radio"] + label.btn-info {
  color: #5bc0de;
}

.level-radio input[type="radio"]:checked + label, .level-radio input[type="radio"]:hover + label:hover {
	font-weight: bold;
	color: #fff;
}

.level-radio input[type="radio"]:checked + label.btn-primary, .level-radio label.btn-primary:hover {
  background-color: #286090;
  border-color: #204d74;
}

.level-radio input[type="radio"]:checked + label.btn-success, .level-radio label.btn-success:hover {
	background-color: #449d44;
	border-color: #398439;
}

.level-radio input[type="radio"]:checked + label.btn-warning, .level-radio label.btn-warning:hover {
  background-color: #ec971f;
  border-color: #d58512;
}

.level-radio input[type="radio"]:checked + label.btn-danger, .level-radio label.btn-danger:hover {
  background-color: #c9302c;
  border-color: #ac2925;
}

.level-radio input[type="radio"]:checked + label.btn-info, .level-radio label.btn-info:hover {
  background-color: #31b0d5;
  border-color: #269abc;
}

.start-game-btn:hover,
.start-game-btn:active,
.start-game-btn:active:hover {
	background-color: #286090;
	border-color: #204d74;
	color: #fff;
}

.game-level .selected-level {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align:middle;
}

.modal-dialog-custom {
	display:  block;
	background: rgba(0, 0, 0, 0.6);
}


.left {
  position: absolute;
  top: 0;
  left: 35px;
  font-size: 18px
}

.left:after {
    border: 3px solid #2095FE;
    border-right: 3px solid transparent;
    border-top: 3px solid transparent;
    content: " ";
    height: 14px;
    left: -20px;
    position: absolute;
    top: 20px;
    -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
    width: 14px;
}
.right {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 18px
}
header {
  color: #fff;
  background: #1BBBFB;
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 1px 2px rgba(1,1,1,0.2);
  height: 60px;
  text-align: center;
  font-size: 20px;
  line-height: 58px;
  white-space: nowrap;
  position: relative;
  margin: 0 0 50px;
}

header h2 {
  font-weight: bold;
  color: #fff;
  margin: 0;
  line-height: 60px;
}
