<!DOCTYPE html>
<html>
<head>
	<title>Dummy</title>
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<!--<script type="text/javascript" src="js/libs/jquery.js"></script>-->
</head>

<body>
	<!-- When this element is clicked, hide the tooltip -->
	<div id="main" ng-app ng-controller="InlineEditorController" ng-click="hideTooltip()">

		<!-- This is the tooltip. It is shown only when the showtooltip variable is truthful -->
		<div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">

			<!-- ng-model binds the contents of the text field with the "value" model.
			Any changes to the text field will automatically update the value, and
			all other bindings on the page that depend on it.  -->
			<input type="text" ng-model="value" />
		</div>

		<!-- Call a method defined in the InlineEditorController that toggles
		the showtooltip variable -->
		<p ng-click="toggleTooltip($event)">{{value}}</p>

	</div>
</body>
</html>